/* 2depth의 공통 */

.visual{width: 2000px; height: 400px; position: relative; left: 50%; top: 130px; margin-left: -1000px; z-index: -1}
.visual h3,.visual p{font-weight: 400; font-family: 'Nanum Gothic', sans-serif; color: #fff; text-shadow: 3px 3px 2px #666}
.visual h3{font-size: 40px; position: absolute; left: 45%; top: 125px}
.visual p{font-size: 20px; position: absolute; left: 40%; top: 195px}

.subnav {width: 1100px; margin: 74px auto 0 auto; overflow: hidden; background: #f7f7f7}
.subnav li{width: 275px; float: left; text-align: center; font-size: 22px; font-family: 'Nanum Gothic', sans-serif}
.subnav li a{display: block; font-size: 20px; padding: 15px 0; color: #666}
.subnav li a:hover{background: #fff; color: #333; font-weight: bold; letter-spacing: -1px; border-bottom: 3px rgb(150,180,95) solid}
.subnav li .current{background: #fff; color: #333; font-weight: bold; letter-spacing: -1px; border-bottom: 3px rgb(150,180,95) solid}


#content{width: 1200px; margin: 0 auto}
#content .title_area .line_map{float: right; margin: 80px 50px 80px 0; font-size: 16px}
#content .title_area .line_map span{margin: 0 20px}
#content .title_area .line_map strong{margin-left: 20px}
#content .title_area h2{font-size: 50px; clear: both; text-align: center; }
#content .title_area h2::after{content: ''; display: block; width: 100px; height: 4px; background: rgb(150,180,95); margin: 15px 0 20px 550px}
#content .title_area h2,#content .title_area p{text-align: center}
#content .title_area p{font-size: 20px; margin-bottom: 150px; font-family: 'Nanum Myeongjo', serif; line-height: 2em}

#content .content_area{margin: 0 50px 250px 50px; font-size: 18px; line-height: 2em}

/*본문 공통*/
#content .content_area .mainbox{overflow: hidden}
#content .content_area .imglist{overflow: hidden; float: left}

#content .content_area .list p{font-size: 30px; color: #fff; margin-bottom: 20px; border-bottom: 3px solid #fff; text-align: center; padding-bottom: 10px}
#content .content_area .list ul .on{color: forestgreen; font-weight: 700}
#content .content_area .list ul li a:hover{color: forestgreen; font-weight: 700}
#content .content_area .list ul li a{font-size: 18px; color: #fff}

#content .content_area .contlist{margin-top: 70px; overflow: hidden; display: none}
#content .content_area .contlist h3{font-size: 30px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; margin-left: 30px; color: rgb(150,180,95)}
#content .content_area .contlist h3::before{content: ''; display: block; width: 15px; height: 2px; background: rgb(150,180,95); position: relative; left: -30px; top: 20px}
#content .content_area .contlist p{margin: 30px 0 0 20px; text-align: justify}
#content .content_area .contlist p::before{content: ''; width: 4px; height: 4px; border-radius: 2px; display: block; background: #333; position: relative; left: -15px; top: 20px}
#content .content_area .contlist iframe{width: 100%; height: 600px; margin-top: 50px}

/*2번 이후~*/
#content .content_area .contlist .imgbox{margin-top: 50px; overflow: hidden; position: relative}
#content .content_area .contlist .imgbox li{float: left; margin-right: 50px}
#content .content_area .contlist .imgbox li:last-of-type{margin-right: 0}
#content .content_area .contlist .imgbox li i{margin-top: 120px; color: #ccc; font-size: 30px}
#content .content_area .contlist .imgbox img{width: 287px; border-radius: 15px}

#content .content_area .contlist .imgtext{position: absolute; bottom: 7px; left: 68px; height: 50px}
#content .content_area .contlist .imgtext li{width: 287px; height: 50px; background: rgba(0,0,0,.5); border-radius: 0 0 15px 15px; color: #fff; font-weight: 700; text-align: center; padding-top: 7px}
#content .content_area .contlist .imgtext li:nth-of-type(1){left: 68px}
#content .content_area .contlist .imgtext li:nth-of-type(2){left: 405px}
#content .content_area .contlist .imgtext li:nth-of-type(3){right: 71px}